<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163165356178-lbuf8ftplpoh02c754l6h60fhk2hfr9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163165356178-lbuf8ftplpoh02c754l6h60fhk2hfr9j</string>
	<key>API_KEY</key>
	<string>AIzaSyAi3D35r0y0TGLItPsxKCR9tTM652gbXWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>163165356178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rcbnet.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-8e9c1</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-8e9c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163165356178:ios:95657bf615b5da0b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-8e9c1.firebaseio.com</string>
</dict>
</plist>